<div id="showContent"
    <nav>
        <a class="navlink" href="/TeacherPage/List">Back to Teacher List</a>
    </nav>

<h2>New Teachers</h2>
<form method="POST" action="/TeacherPage/Create">
    <div class="inputRow">
        <label for="teacherfname">First Name:</label>
        <input type="text" id="teacherfname" name="teacherfname"/>
    </div>

    <div class="inputRow">
        <label for="teacherlname">Last Name:</label>
        <input type="text" id="teacherlname" name="teacherlname"
    </div>

    <div class="inputRow">
        <label for="employeenumber">Employee #:</label>
        <input type="text" id="employeenumber" name="employeenumber" />
    </div>

    <div class="inputRow">
        <label for="salary">salary:</label>
        <input type="text" id="salary" name="salary" />
    </div>

    <div>
        <input type="submit" value="Add Teacher" />
    </div>


</form>