<h2>Are you sure you would like to delete this teacher?</h2>

<a href="/TeacherPage/Show/@Model.teacherid">Return</a>

<form action="/TeacherPage/Delete/@Model.teacherid" method="POST">
    
    <input type="submit" value="Yes, Delete" />

</form>